# Mac Specific
*.DS_Store
*.bak

# Obsidian
.obsidian/workspace.json
.obsidian/plugins

# Coq Output Files
*.vo
*.vok
*.vos
*.glob
*.aux
*/Logical-Foundations/*.html
*/Logical-Foundations/common

# Temporary Files
*.*~
*.hs~
*.rkt~
*.scm~
*#*#
auto/
*/auto/

# Org Related Files
**/ltximg/
**/*.pdf
**/*.tex
**/*.html

# Haskell
**/*.hi
**/*.o