[submodule "Effects/eff-lang/eff"]
	path = Effects/eff-lang/eff
	url = git@github.com:matijapretnar/eff.git
[submodule "The-Little-Series/The-Reasoned-Schemer/Racket-miniKanren"]
	path = The-Little-Series/The-Reasoned-Schemer/Racket-miniKanren
	url = git@github.com:miniKanren/Racket-miniKanren.git
	ignore = dirty
